<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{Place.cat}} -- Use cats as placeholder images!</title>
  <meta charset="utf-8">
  <meta name="description" content="Place.cat allows you to use an image of a cat as a placeholder image! You specify the dimensions, we deliver cuteness!">
  <meta name="keywords" content="place, cat, place.cat, image, placeholder, html, image, size, black, and, white, place, holder">
  <meta name="author" content="Jacob Gee-Clarke">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="product">
  <meta property="og:title" content="{{Place.cat}} -- Use cats as placeholders!">
  <meta property="og:url" content="https://place.cat">
  <meta property="og:image" content="https://place.cat/600/600">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "SoftwareApplication",
      "name": "{{Place.cat}} -- Use cats as placeholders!",
      "applicationCategory": "Productivity, Entertainment",
      "operatingSystem": "Any",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "ratingCount": "0"
      },
      "offers": {
        "@type": "Offer",
        "priceCurrency": "",
        "price": "0.00"
      }
    }
  </script>

  <link rel="stylesheet" href="https://bootswatch.com/3/paper/bootstrap.min.css" crossorigin="anonymous">

</head>

<body>
  <br>
  <div class="container fluid">
    <div class="jumbotron">
      <div class="container">
        <h1>{{Place.cat}}</h1>
        <p>This service provides an easy to use API to use cute cats as as placeholder images. Just a note, we don't support
          sizes greater than 2000px</p>
        <p>
          Simply use: <code>&lt;img src="https://place.cat/[c-bw]/300/200"&gt;</code> to show a cute cat with the dimentions;
          Width: <code>300px</code> and Height: <code>200px</code> replace [c-bw] with either <code>c</code> for colour and
          <code>bw</code> for a black and white image.
          <br><br> View the source below to see a real life example:
        </p>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <center>
              <img src="https://place.cat/c/100/100">
            </center>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <center>
              <img src="https://place.cat/bw/100/100">
            </center>
          </div>
        </div>

        <a href="https://jacobgc.me">https://jacobgc.me</a>
      </div>
    </div>

  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55240082-15', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
