<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{PlaceKitten}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
  <div class="container fluid">
    <div class="jumbotron">
    <div class="container">
      <h1>{{PlaceKitten}} -- Home</h1>
      <p>This site aims to provide an easy to use service to use cute cats as as placeholder images</p>
      <p>
        Simply use: <code><pre>&lt;img src="https://place.cat/300/200"&gt;</pre></code>
        to show a cute cat with the dimentions; Width: 300px and Height: 200px.
       <br><br> View the source below to see a real life example:
      </p>
      <img src="https://place.cat/64/64">
      <h6>M'encanta petits gats bonics</h6>
    </div>
  </div>
    
  </div>
  
</body>

</html>