<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{Place.cat}} -- Use cats as placeholder images!</title>
  <meta charset="utf-8">
  <meta name="description" content="Place.cat allows you to use an image of a cat as a placeholder image! You specify the dimensions, we deliver cuteness!">
  <meta name="keywords" content="place, cat, place.cat, image, placeholder, html, image, size, black, and, white, place, holder">
  <meta name="author" content="Jacob Gee-Clarke">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="product">
  <meta property="og:title" content="{{Place.cat}} -- Use cats as placeholders!">
  <meta property="og:url" content="https://place.cat">
  <meta property="og:image" content="https://place.cat/300/300">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "SoftwareApplication",
      "name": "{{Place.cat}} -- Use cats as placeholders!",
      "applicationCategory": "Productivity, Entertainment",
      "operatingSystem": "Any",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "ratingCount": "0"
      },
      "offers": {
        "@type": "Offer",
        "priceCurrency": "",
        "price": "0.00"
      }
    }
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

</head>

<body>
  <br>
  <div class="container fluid">
    <div class="jumbotron">
      <div class="container">
        <h1>{{Place.cat}} -- Home</h1>
        <p>This site aims to provide an easy to use service to use cute cats as as placeholder images</p>
        <p>
          Simply use: <code><pre>&lt;img src="https://place.cat/300/200"&gt;</pre></code> to show a cute cat with the dimentions;
          Width: 300px and Height: 200px.
          <br><br> View the source below to see a real life example:
        </p>
        <img src="https://place.cat/64/64">
        <h6>M'encanta petits gats bonics</h6>
      </div>
    </div>

  </div>

</body>

</html>